<p>click button để parent gửi data tới InputComponent</p>
<button class="button" (click)="title1 = 'tile1 changed'">change tile1</button>
<h3 style="color: red">
  &lt;app-input [input1]=&quot;title1&quot; [input2]=&quot;title2&quot;&gt;&lt;/app-input&gt;
</h3>
<!-- biến title1 thay đổi runtime thì <app-input> sẽ đc cập nhật runtime -->
<app-input [input1]="title1" [input2]="title2"></app-input>

<p>-------------------------------------------------------------------</p>
<div class="input-interceptor-div">
  <label for="nameId"> input for child component</label>
  <input id="nameId" type="text" [(ngModel)]="nameInputInterceptor" />
</div>

<!-- order @input ở đây rất quan trọng tới order trigger event -->
<app-input-interceptor
  [lastName]="'lastName'"
  [name]="nameInputInterceptor"
></app-input-interceptor>

<p>-------------------------------------------------------------------</p>
<div class="input-interceptor-div">
  <label for="nameId2"> input for child component</label>
  <input id="nameId2" type="text" [(ngModel)]="name2" />
</div>

<app-input-ngonchange [name]="name2"></app-input-ngonchange>

<p>-------------------------------------------------------------------</p>
<h3 style="color: red">
  &lt;app-output (output1)=&quot;outputMessage1=$event&quot;
  (output2)=&quot;this.outputImplement2($event)&quot;&gt;&lt;/app-output&gt;
</h3>
<!-- $event:  biến javaScript local chứa output data của child component dc EventEmitter trigger -->
<!-- $event:  là local chỉ có tác dụng trong double quote thôi -->
<!-- (output) = "javaScript expression" -->
<!-- javaScript expression sẽ đc kích hoạt mỗi lần EventEmitter.emit(). nó ko cần chứa $event vẫn đc -->
<app-output
  (output1)="outputMessage1 = $event"
  (output2)="this.outputImplement2($event)"
></app-output>

<h1>@Output()output1 = {{ outputMessage1 }}</h1>
<h1>@Output() output2 = {{ numberClick }}</h1>

<p>-------------------------------------------------------------------</p>
<h3 style="color: red">
  &lt;app-output (output1)=&quot;changeOutput1()&quot;&gt;&lt;/app-output&gt;
</h3>
<!-- javaScript expression sẽ đc kích hoạt mỗi lần EventEmitter.emit(). nó ko cần chứa $event vẫn đc -->
<!-- vd rõ nhất là hàm onclick ở button -->
<app-output (output1)="changeOutput1()"></app-output>

<h1 style="color: red">{{ changeOutput1Number }}</h1>

<p>-------------------------------------------------------------------</p>
<h3 style="color: red">&lt;app-input-output [(name)] = &quot; this.name&quot;&gt;</h3>

<h3>{{ name }}</h3>
<app-input-output [(name)]="this.name"></app-input-output>
